#!/usr/bin/env bash
set -euo pipefail

# vim: set expandtab ts=4 sw=4 ft=bash:

casks_common=(
    appcleaner
    ghostty
    podman-desktop
    spotify
)

casks_personal=(
    discord
    dropbox
    microsoft-auto-update
    microsoft-onenote
    microsoft-teams
    onedrive
    transmission
    vlc
    zoom
)

casks_non_personal=(
    bitwarden
    docker-desktop
    lens
    telegram
)

brew install --cask "${casks_common[@]}"

# shellcheck disable=all
{{- if .personalMachine }}
brew install --cask "${casks_personal[@]}"
{{- else }}
brew install --cask "${casks_non_personal[@]}"
{{- end }}
