#!/usr/bin/env bash
set -euo pipefail

# vim: set expandtab ts=4 sw=4 ft=bash:

packages_common=(
    age
    bash
    bash-completion@2
    calc
    chezmoi
    clang-format
    cloc
    fzf
    gawk
    git
    git-delta
    gnu-sed
    helm
    htop
    iproute2mac
    jq
    k9s
    kind
    kubernetes-cli
    lima
    nmap
    node
    pidof
    podman
    podman-compose
    readline
    ripgrep
    shellcheck
    sqlite
    tmux
    tree
    watch
    wget
    yazi
    yq
)

packages_personal=(
    gitleaks
    pre-commit
    teamookla/speedtest/speedtest
)

packages_non_personal=(
    awscli
    azure-cli
    cloud-nuke
    clusterctl
    coreutils
    gh
    goreleaser
    govc
    graphviz
    jwt-cli
    minio-mc
    openstackclient
    qemu
    sshuttle
    velero
)

brew install "${packages_common[@]}"

# shellcheck disable=all
{{- if .personalMachine }}
brew install "${packages_personal[@]}"
{{- else }}
brew install "${packages_non_personal[@]}"
{{- end }}
