#!/usr/bin/env bash
set -euo pipefail

# vim: set expandtab ft=bash ts=2 sw=2:

[[ $(command -v ya) ]] || exit 0

# yazi_package.toml hash: {{ include "symlinked/yazi_package.toml" | sha256sum }}

ya pkg install
