#!/usr/bin/env bash
set -euo pipefail

# vim: set expandtab ts=4 sw=4 ft=bash:

packages_common=(
    age
    bash
    bash-completion@2
    calc
    chezmoi
    clang-format
    cloc
    delta
    fzf
    gawk
    git
    gnu-sed
    helm
    htop
    iproute2mac
    jq
    k9s
    kind
    kubernetes-cli
    lima
    nmap
    node
    pidof
    podman
    readline
    ripgrep
    shellcheck
    sqlite
    tmux
    tree
    watch
    wget
    yazi
    yq
)

packages_personal=(
    gitleaks
    pre-commit
    teamookla/speedtest/speedtest
)

packages_non_personal=(
    awscli
    azure-cli
    cloud-nuke
    clusterctl
    coreutils
    gh
    goreleaser
    govc
    graphviz
    jwt-cli
    minio-mc
    openstackclient
    qemu
    sshuttle
    velero
)

casks_common=(
    appcleaner
    ghostty
    logi-options+
    podman-desktop
    spotify
)

casks_personal=(
    discord
    dropbox
    microsoft-auto-update
    microsoft-onenote
    microsoft-teams
    onedrive
    transmission
    vlc
    zoom
)

casks_non_personal=(
    bitwarden
    docker-desktop
    gpg-suite
    lens
    telegram
)

brew install "${packages_common[@]}"
brew install --cask "${casks_common[@]}"

# shellcheck disable=all
{{- if .personalMachine }}
brew install "${packages_personal[@]}"
brew install --cask "${casks_personal[@]}"
{{- else }}
brew install "${packages_non_personal[@]}"
brew install --cask "${casks_non_personal[@]}"
{{- end }}
