[user]
	name = zerospiel
	email = mmorgen@posteo.com
# [url "git@gitlab.ozon.ru:"]
	# insteadOf = https://gitlab.ozon.ru/
# for git clone
[url "ssh://mmorgoev@gerrit.mcp.mirantis.com:29418"]
	insteadOf = https://gerrit.mcp.mirantis.com
# for go get
[url "ssh://mmorgoev@gerrit.mcp.mirantis.com:29418"]
	insteadOf = https://gerrit.mcp.mirantis.com/a
[advice]
	detachedHead = false
[pull]
	ff = only
[init]
	defaultBranch = master
[diff]
	tool=vimdiff
[core] 
	compression = 0
	packedGitLimit = 512m 
	packedGitWindowSize = 512m 
[pack] 
	deltaCacheSize = 2047m 
	packSizeLimit = 2047m 
	windowMemory = 2047m
[safe]
	directory = /Users/morgoev/go/src/sigs.k8s.io/cluster-api-provider-openstack
[merge]
	# experimental
	tool = code
[mergetool "code"]
	# experimental
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[http]
	postBuffer = 157286400
