auto-update = off
background-blur = false
background-opacity = 1
bell-features = no-attention,no-system,no-audio,no-border
cursor-style = block
cursor-style-blink = false
font-family = Monaco
font-feature = -calt
font-size = 14
font-synthetic-style = false
keybind = "super+f=write_scrollback_file:paste"
{{- if eq .chezmoi.os "darwin" }}
macos-option-as-alt = false
macos-shortcuts = deny
macos-titlebar-style = tabs
macos-window-buttons = hidden
macos-window-shadow = false
{{- end }}
scrollback-limit = 10000000
shell-integration-features = no-cursor
theme = "Dark Modern"
window-height = 27
window-show-tab-bar = always
window-subtitle = working-directory
window-theme = dark
window-width = 105
